.container#create-page {
    padding: 0% 0 3% 5%;

    position: relative;
}

    #create-page h1 {
        font-size: 5rem;
    }

    #create-page main {
        padding-right: 400px;
    }

    #create-page .create-question-container {
        max-width: 1300px;
    }

        #create-page #add-question {
            width: 100%;
            height: 50px;

            background: transparent;

            border: 3px solid #3EACEA;
            border-radius: 10px;

            font-size: 2rem;
        }

            #create-page #add-question svg {
                fill: white;
            }

    #create-page #create-question-menu {
        position: fixed;

        bottom: 5%;
        right: 1%;

        background: #484e51;
        border-radius: 25px;

        padding: 10px;
    }

        #create-page #question-menu-buttons {
            display: flex;
            flex-direction: column;

            margin-top: 60px;
        }

            #create-page #question-menu-buttons > * {
                margin-top: 10px;
            }

        #create-page #question-menu-rows {
            display: flex;
            flex-direction: column;

            overflow: hidden;
        }

            #create-page #question-menu-rows > * {
                margin-bottom: 10px;
            }

            #create-page #question-menu-rows:last-child {
                margin: 0;
            }

    
            #create-page #question-menu-rows h3 {
                height: 50px;
                width: 100%;

                background: rgb(46, 50, 51);

                border-radius: 10px;

                font-size: 20px;
                font-weight: bold;

                display: flex;
                align-items: center;

                padding-left: 30px;
            }

@media screen and (max-width: 900px) {
    #create-page.container {
        padding: 10px;
    }

        #create-page h1 {
            font-size: 3rem;
            text-align: center;

            line-height: 60px;
        }

        #create-page main {
            padding: 0;
        }

        #create-page #create-question-menu {
            position: initial;

            max-width: 500px;
            max-height: 450px;

            margin: 5% auto 0;
        }
}

