.container#quizz-page {
    padding: 2% 10%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

    #quizz-page header {
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 20px;
    }

        #quizz-page #progress-container {
            text-align: center;

            font-size: 1.2rem;
        }

            #quizz-page #progress-bar-out {
                border: 2px solid green;

                border-radius: 100px;

                height: 35px;
                width: 200px;

                overflow: hidden;

                margin: 10px 0;
            }

                #quizz-page #progress-bar-in {
                    background: green;

                    height: 100%;
                    
                    transition: width 0.2s ease-out;
                }
            #quizz-page #progress-container #quizz-owner {
                color: white;
            }

            #quizz-page #progress-container strong {
                color: #106DC2;
            }

        #quizz-page #score {
            font-size: 1.2rem;
        }
            #quizz-page #score h3 {
                display: flex;
                flex-direction: column;
            }

            #quizz-page #score span {
                color: #106DC2;

                font-size: 2rem;
                font-weight: bolder;

                margin: 0 auto;
            }
        

    #quizz-page main {
        display: flex;
        flex-direction: column;

        width: 100%;
        max-width: 1300px;
    }
    
    #quizz-page h1 {
        padding: 0 20px 20px;

        font-size: 2.5rem;
    }

    #quizz-page #alternative-container {
        width: 80%;

        margin: 0 auto;
    }


@media screen and (max-width: 700px) {
    #quizz-page.container {
        padding: 10px;
    }

    #quizz-page #progress-container {
        font-size: 1rem;
    }

        #quizz-page #progress-container #progress-bar-out {
            width: 150px;
            height: 30px;
        }

    #quizz-page #alternative-container {
        margin: 0;
        width: 100%;
    }

        #quizz-page .alternative {
            text-align: left;
        }
}